body {
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1rem;
  text-align: center;
}
.center {
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125em;
}
th, td {
  padding: 0.75em;
}
.big {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 3.5em;
  color: #f2a71f;
}
.colorhead {
  /* padding: 0.75rem 0rem 0.75rem; */
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  color: #f2a71f;
}